<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>804097013101-oticjbbdcnkh688fdb92h62dkejgj5a1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.804097013101-oticjbbdcnkh688fdb92h62dkejgj5a1</string>
	<key>API_KEY</key>
	<string>AIzaSyDEVVAr-J8aNw3CfBBZ1hPEK0eHecrfhp0</string>
	<key>GCM_SENDER_ID</key>
	<string>804097013101</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.erictang.Publisher-eric</string>
	<key>PROJECT_ID</key>
	<string>publisher-eric</string>
	<key>STORAGE_BUCKET</key>
	<string>publisher-eric.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:804097013101:ios:394db876b512bd166a9664</string>
	<key>DATABASE_URL</key>
	<string>https://publisher-eric.firebaseio.com</string>
</dict>
</plist>